body {
	margin: 0;
	overflow: hidden;
	background-color: #BFB5AF;
}

.navbar {
	z-index: 1;
	position:fixed;
	display: inline;
	width:100%;
	font-size: 20px;
	background: #353535;
	padding: 0px;
	margin: 0px;
}

.navbar a {
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	height: 25px;
	padding: 10px;
	float: left;
}

.navbar a:hover {
	background: white;
	color: black;
}

.active {
	background: #86bbd8;
}
.main {
	text-align: center;
	margin: 0px;
	padding-top: 50px;
}

.main h1 {
	font-size: 45px;
}

.main p {
	font-size: 20px;
	padding: 0 40%;
}

.linkContainer {
	display: inline-block;
}

.linkContainer a {
	text-decoration: none;
	color: black;
	float: left;
	margin: 10px;
	background: transparent;
	border: black solid 2px;
	border-radius: 10px;
	padding: 5px;
	font-size: 25px;
}